*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    margin: 0;
    padding: 0;
    background-color: rgb(23, 23, 26);
    background-image: url(../assets/images/backgroudFlutua.png);
    background-size: 100%;
}
html {
    scroll-behavior: smooth;
}
.header{
    background-color: rgb(23, 23, 26, 0.5);
    backdrop-filter: blur(5px);
    color: #FDFDFD;
    height: 80px;
    width: 90%;
    border-radius: 35px;
    margin-top: 10px;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    align-items: center;
    position: sticky;
    top: 15px;
    z-index: +1;
}

.header .container{
    height: 80px;
}
.container{
    display: flex;
    width: 80%;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}
.logo{
    display: inline-block;
    position: relative;
  }
  .logo img{
    width: 100px;
  }
  
  .logo span {
    position: absolute;
    top: 43px;
    right: 20px;
    font-size: 18px;
    color: #FDFDFD;
    text-shadow: 0px 0px 5px black;
  }
.sections{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-decoration: none;
}
.sections li{
    margin: 30px;
    list-style: none;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
}
.header a{
    list-style: none;
    text-decoration: none;
    color: #FDFDFD;
}

.sections a:hover{
    color: rgb(45, 128, 242);
    transition: .4s;
}
.banner{
    display: flex;
    margin-top:300px;
}
.banner .slogan1{
    font-size: 25px;
    color: #FDFDFD;
    width: 45%;
}
.banner .slogan2{
    font-size: 25px;
    color: #FDFDFD;
    width: 45%;
}
.banner .slogan2 img{
    width: 100px;
}
.banner span{
   color: rgb(45, 128, 242);
}
.about{
    margin-top: 300px;
    height: 300px;
    display: flex;
}
.about .container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #FDFDFD;
}
.about .container span{
    color: rgb(45, 128, 242);
}
.conheça{
    display: flex;
    margin-top: 300px;
    color: #FDFDFD;
    align-items: center;
    justify-content: center;
}
.planos {
    margin-top: 100px;
    display: flex;
}

.container .boxes{
    display: flex;
    width: 80%;
    height: 500px;
    color: rgb(45, 128, 242);
    justify-content: space-between;
    align-items: center;
    
    margin: auto;
}
.box {
    width: 280px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box:hover{
    transform: scale(1.1);
    transition: .5s;
}
.box img{
    width: 100px;
}
.box span{
    font-size: 25px;
    font-weight: bold;

}
.box select{
    background-color: transparent;
    color: #FDFDFD;
    font-size: 20px;
    border-radius: 20px;
    border-color:  rgb(51, 51, 51);
    text-align: center;
    cursor: pointer;
    
}

.box option{
    background-color: rgb(51, 51, 51);

    
    
}
.box div{
    font-size: 75px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: linear-gradient(to right,#001fff, #8406d6);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: bold;
}
.box button{
    font-size: 20px;
    background-color: transparent;
    border: 2px solid rgb(45, 128, 242);
    color: #FDFDFD;
    font-weight: 400;
    border-radius: 20px;
    width: 200px;
    cursor: pointer;

}
.box button:hover{
    color: rgb(45, 128, 242);
    transition: .5s;
}
.box button:active {
    background-color: rgb(45, 128, 242);  
    transition: background 0s;  
    color: #FDFDFD;
  }
  

.footer {
    display: flex;
    margin-top: 300px;
    width: 100%;
    height: 300px;
    justify-content: space-between;
}
.footer .copy{
    color: rgb(134, 134, 134);
    font-size: 15px;
}
.footer .endereco{
    color: rgb(134, 134, 134);
    font-size: 15px;
}
.footer .contact{
    color: rgb(134, 134, 134);
    font-size: 15px;
}
.footer .contact img{
    width: 18px;
    filter: invert(75%);
    margin: 5px;
    
}

.logo_login{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}
.logo_login img{
    width: 300px;
}

.connect{
    display: flex;
    width: 100%;
    /* margin-top: 100px; */
    align-items: center;
    justify-content: space-between;
    color: #FDFDFD;
    font-size: 25px;
    flex-direction: column;

}
.connect button{
    font-size: 20px;
    background-color: transparent;
    border: 2px solid rgb(45, 128, 242);
    color: #FDFDFD;
    font-weight: 400;
    border-radius: 20px;
    width: 200px;
    cursor: pointer;

}
.connect button:hover{
    color: rgb(45, 128, 242);
    transition: .5s;
}
.connect button:active {
    background-color: rgb(45, 128, 242);  
    transition: background 0s;  
    color: #FDFDFD;
  }

.infos{
    width: 400px;
    height: 270px;
    margin-left: 50px;
    margin-top: 100px;
    border-radius: 30px;
    background-color: rgb(40, 40, 40);
    color: #FDFDFD;
}
.infos span{
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: linear-gradient(to right,#001fff, #8406d6);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: bold;


}
.connect .container{
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.container #div_ip{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(40, 40, 40);
    border-radius: 30px;
    flex-direction: column;
}
.container #div_ip span{
    margin-top: 50px;
    margin-bottom: 30px;
    width: 80%;
    text-align:center;
}
